<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                @Html.ActionLink("Connectify", "Index", "Account", null, new { @class = "navbar-brand" })
            </div>
            
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        <ul  id="close" style="position:absolute; left:200px; top:10px;">
                            <li><input type="text" name="search" id="search" placeholder="Search friends.." style="padding:2px; width:300px;" /> </li>
                            <ul id="livesearch"></ul>
                        </ul>
      <li class="navbar-brand"> @if (ViewBag.friendsCount!=null) {
           <span class="glyphicon glyphicon-user frnoti"><span>@ViewBag.friendsCount</span></span>
           
           }
           else
           {
                <span class="glyphicon glyphicon-user frnoti"><span></span></span>
           }
          <ul id="frnotiul" ></ul>
           
                    </li>

<li class="navbar-brand messageCountli">
    @if (ViewBag.MessageCount > 0) {
        <span class="glyphicon glyphicon-comment msgnotif"><span>@ViewBag.MessageCount</span></span>

           }
           else
           {
        <span class="glyphicon glyphicon-comment msgnotif"><span></span></span>
           }
    <ul id="msgnotiul"></ul>

</li>

     <li class="navbar-brand">@ViewBag.FullName</li>                   
    <li> @Html.ActionLink("Logout", "Logout", "Account", new { @class = "navbar-brand" }); </li>
     
                    }
                </ul>
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
      </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 
</body>
</html>
