
@{
    ViewBag.Title = "View1";
}

   <div class="row">

       <div class="media-body">
           <img src="/Images/@ViewBag.Image2 " class="img-rounded img-thumbnail" width="240" height="240" id="img-user" />
           <div class="NameMain">@ViewBag.ViewFullName ( @ViewBag.USERNAME )</div>


           @if (ViewBag.userType == "guest")
           {
               <div class="friends">
                   @if (ViewBag.Friends == "Pending")
                   {
                       <div class="alert alert-warning arefriendsdiv">
                           <p>Pending Friends Request</p>
                       </div>
                   }
                   else if (ViewBag.Friends == "False")
                   {
                       <div class="arefriendsdiv alert alert-info">
                           <a href="" class="addfriend">Add Friend</a>
                       </div>
                   }
                   else
                   {
                       <div class="arefriendsdiv alert alert-success col-sm-2">
                           <span class="glyphicon glyphicon-thumbs-up"></span> Friends
                       </div>
                   }
               </div>
           }
           <div class="row col-md-2">
               <div class="friends @User.Identity.Name alert alert-info">
                   <span>@ViewBag.FriendCount</span> Friends
               </div>
           </div>
           <div class="col-xs-12 col-md-6 wall wallsayMsg">
               @if (ViewBag.userType == "owner")
               {
                   <h3>Say Something here</h3>

                   if (ViewBag.MessageWall == "")
                   {
                       <textarea id="say" placeholder="Say Something"></textarea>
                   }
                   else
                   {
                       <textarea id="say" placeholder="Say Something">@ViewBag.MessageWall</textarea>
                   }
                   <a href="" id="saymsg" class="ta" data-id="@ViewBag.UserId">Say</a>
                   <div class="sendmsgnotif hide alert alert-success">Message Sent</div>


               }
               @if (ViewBag.userType == "guest")
               {
                   if (ViewBag.Friends == null)
                   {
                       <div class="sendMsgParent">
                           <div class="msgTextArea">
                               <textarea id="msgarea"></textarea>

                           </div>
                           <a href="" id="sendmsg" class="ta">Send Message</a>
                           <div class="sendmsgnotif hide alert alert-success">Message Sent</div>

                       </div>
                   }
               }
           </div>
       </div>
</div>
<div class="row friendwallrow">
    <div class="col-md-12">
       @if (ViewBag.userType == "owner")
       { 
    if (Enumerable.Count(ViewBag.WallMessages) > 0)
    {
        <h3>Your Friends are saying</h3>
        foreach (var item in ViewBag.WallMessages)
        {
            <div class="friendwall">
                <img src="Images/@(item.Id).jpg" width="50px" /> @item.Message
            </div>
        }
    }
       }

</div>
</div>
<div class="chat @User.Identity.Name" >
<ul> </ul>

</div>

<div class="form-group col-xl-12 tachat">
    <label style="color: blue; font-style: oblique;font-size: medium" id="label1">Write Your Message Here!</label><br />
    <textarea class="form-control" rows="4" cols="40" id="message" placeholder="Share what's in your mind..."></textarea>
    <br />
    <input type="button" class="btn btn-primary" id="sendmessage" value="Send" />
    <br />
    <br />
    <label style="color: blue;font-style:oblique;font-size:medium" id="label2">Group Chat Conversations History</label>
    <div class="container chatArea">
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>
</div>  



@section Scripts {
<script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
   <script>
   
       $(document).ready(function () {
           $("input#search").keyup(function () {
               var search = $("input#search").val();
               $("ul#livesearch").empty();
               if (search == "" || search == "  ") return false;
               var url = "Profile/LiveSearch";
               $.post(url, {Username:search}, function (data) {
                   if (data.length > 0) {
                       $("ul#livesearch").append("<li class=close>x</li>");

                   }
                   for (var i = 0 ; i < data.length ; i++) {
                       var obj = data[i];
                       $("ul#livesearch").append("<li class=livesearchli><a href='/" +obj.UserName+ "' ><img src='Images/"+obj.Id+".jpg'/> "+''+ obj.FirstName+''+obj.LastName+"</a>  </li>");
                       
                   }

               });

           });

           $("body").on("click", "ul#livesearch li.close", function () {
               $("ul#livesearch").empty();
               $("input#search").val("");

           });
           ////////////////////////////////////

           $("body").on("click","span.glyphicon.glyphicon-user.frnoti.red",function () {
               console.log("hey u what is this ");
               $("ul#frnotiul").empty();
             
               var url = "Profile/DisplayFriendRequests";
               $.post(url, {} , function (data) {
                   if (data.length > 0) {
                       $("ul#frnotiul").append("<li class=close>x</li>");

                   }
                   for (var i = 0 ; i < data.length ; i++) {
                       var obj = data[i];
                       $("ul#frnotiul").append("<li class=frnotili><a href='/" + obj.UserName + "' ><img width='15px' height='20px' src='Images/" + obj.Id + ".jpg'/> " + '' + obj.FirstName + '' + obj.LastName + "</a> "+" <a class='accept' href='#' data-id= '"+obj.Id+"'><span class='glyphicon glyphicon-ok'></span> </a>"+" "+"  <a class='decline' href='#' data-id= '"+obj.Id+"'><span class='glyphicon glyphicon-remove'></span> </a> </li>");

                   }
                   console.log(data);

               });

           });

           $("body").on("click", "ul#frnotiul li.close", function () {
               $("ul#frnotiul").empty();
               

           });
           ///////////////////////////////

           var hub = $.connection.echo;
           hub.client.test = function (msg) {
               console.log(msg);
           }
           hub.client.frnotify = function (f,count) {
               $("span.frnoti" ).text(count);
               $("span.frnoti").addClass("red");

           }
           hub.client.frcount = function (count) {
               
               if (count > 1) {
                   $("span.frnoti").text(count);
               } else {
                   $("span.frnoti").text("");
                   $("span.frnoti").removeClass("red");
               }
               

           }
           hub.client.fscount = function (u1,u2,c1,c2) {
               if (c1 > 0) {
                   $("div.friends." + u1).text(c1 +" friend(s)");
               } else {
                   $("div.friends." + u1).text("");
               }
               if (c2 > 0) {
                   $("div.friends." + u2).text(c2 + " friend(s)");
               } else {
                   $("div.friends." + u2).text("");
               }
           }
           hub.client.msgcount = function (friend,c) {
               if (c > 0) {
                   $("span.msgnotif").text(c);
               } else {
                   $("span.msgnotif").text("");
               }
           }
           hub.client.getoninefriends = function (user,data) {
               var result = JSON.parse(data);
               for (i = 0; i < result.length; i++) {
                   var obj = result[i];
                   $(".chat" + user).append("<li class='cf" + obj.id + "' data-id='" + obj.id + "'> <img src='Images/" + obj.id + ".jpg'/>" + obj.friend + "</li>");
                   var chatbox = $("div.chatbox").clone();
                   chatbox.attr("data-id", obj.id);
                   chatbox.attr("id", "cb" + obj.id);
                   chatbox.addClass("hidden");
                   chatbox.find("a.sendchat").attr("data-friend", obj.friend);
                   chatbox.find("a.sendchat").attr("data-id", obj.id);
                   chatbox.find("div.chatboxtext").attr("id", "cb" + obj.id);

                   $("#chb" + user).append(chatbox);
                   $("#chb" + user + "#cb" + obj.id + "h4 >span").html('<img src = "Images/' + obj.id + '.jpg" />');
                   

               }
           }
          
           $.connection.hub.start().done(function () {

               hub.server.hello("This is signalr");
           });

           $("a.addfriend").click(function (e) {
               e.preventDefault();
               var friend = '@ViewBag.USERNAME';
               var url = '/Profile/AddFriend';
               $.post(url, { friend: friend }, function (data) {
                   $('.arefriendsdiv').removeClass('alert alert-info').addClass('alert alert-warning').html('<p>Pending Friend Request</p>');
               }).done(function () {
                   hub.server.notify(friend);
               });
           });



           //////////////////////////////////////////
           $("body").on("click", "span.msgnotif", function () {
             
               $("ul#msgnotiul").empty();

               var url = "Profile/DisplayMessages";
               $.post(url, {}, function (data) {
                   if (data.length > 0) {
                       $("ul#msgnotiul").append("<li class=close>x</li>");

                   }
                   for (var i = 0 ; i < data.length ; i++) {
                       var obj = data[i];
                       $("ul#msgnotiul").append('<li class=msgnotili ><a href="/' + obj.FromUserName + '"><img src="Images/' + obj.FromId + '.jpg"/></a> '+obj.Message+' </li>');

                   }
                   console.log(data);

               }).done(function () {
                   hub.server.msgnotify();
               });

           });

           $("body").on("click", "ul#msgnotiul li.close", function () {
               $("ul#msgnotiul").empty();


           });










           ////////////////////////////////////////////
           $("body").on("click", "a.accept", function (e) {
               e.preventDefault();
              
               var $this = $(this);
               var friendId = $this.data("id");
               

               var url = "Profile/AcceptRequest";
               $.post(url, { fId: friendId }, function (data) {


               }).done(function () {

                   $this.parent().fadeOut("fast");
                   hub.server.getFrCount("hello");
                   hub.server.getFCount(friendId);

               });

           });
           $("body").on("click", "a.decline", function (e) {
               e.preventDefault();

               var $this = $(this);
               var friendId = $this.data("id");


               var url = "Profile/DeclineRequest";
               $.post(url, { fId: friendId }, function (data) {


               }).done(function () {

                   $this.parent().fadeOut("fast");
                   hub.server.getFrCount("hello");
                 

               });

           });
           ///////////////

           $("body").on("click", "a#sendmsg.ta", function (e) {
               e.preventDefault();

               var $this = $(this);
               var friend = '@ViewBag.USERNAME';
               var message = $("#msgarea").val();

               var url = "Profile/SendMessage";
               $.post(url, { friend: friend, message:message }, function (data) {


               }).done(function () {
                   hub.server.notifyOfMessages(friend);
                   $("#msgarea").val("");
                   $("div.sendmsgnotif").removeClass("hide");
                   $('div.sendmsgnotif').fadeIn('slow').delay(1000).hide(0);
                  

                  


               });

           });

           //Update Wall
           $("a#saymsg").on("click", function (e) {
               e.preventDefault();
               var $this = $(this);
               var id = $this.data('id');
               var message = $this.parent().find("#say").val();
               var url = "/Profile/UpdateWallMessage"
               $.post(url, { id: id, message: message }, function (data) {

               }).done(function () {
                   $this.parent().find("#say").val("");
               });
           });


       });


       $(function () {
           var chat = $.connection.echo;
           chat.client.addNewMessageToPage = function (name, message) {
               $('#discussion').append('<ul style="list-style-type:square"><li><strong style="color:red;font-style:normal;font-size:medium;text-transform:uppercase">' + htmlEncode(name) + '  ' + '<strong style="color:black;font-style:normal;font-size:medium;text-transform:lowercase">said</strong>'
                   + '</strong>: ' + '<strong style="color:blue;font-style:oblique;font-size:medium">' + htmlEncode(message) + '</strong>' + '</li></ul>');
           };
         
           $('#message').focus();
           $.connection.hub.start().done(function () {
               $('#sendmessage').click(function () {
                   chat.server.send('@User.Identity.Name' , $('#message').val());
                   $('#message').val('').focus();
               });
           });
       });
       function htmlEncode(value) {
           var encodedValue = $('<div />').text(value).html();
           return encodedValue;
       }


    </script>
}